.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #3D3D69;
    border-radius: 10px;
    background-color: #131325;
    color: #fff;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    display: block;
    margin-bottom: 8px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.form-group {
    margin-bottom: 16px;
}
.form-group:last-of-type {
    margin-bottom: 0;
}