*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.main h1{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}

ul {
    float: left;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 30px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: purple;
}

.back h1 a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.back h1 a:hover{
    color: purple;
}